/* Reset de estilos padrão do navegador */
body, h1, h2, h3, p, ul, li, img, a {
    margin: 0 auto;
    padding: 10px ;
    border: 0;
    width: 80%;
    font: inherit;
    vertical-align: baseline;
}

/* Estilos gerais */
body {
    background-color: #ddcde0;
}

.header {
    text-align: center;
    padding: 50px 0;
    background-color: #D6DCFF;
    color: #13315C;
    box-shadow: 0px 0px 100px 20px rgba(214,220,255,0.8);
    border-radius: 20px;
}
 
.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2rem;
}

.about-me {
    text-align: center;
    color: #13315C;
    margin: 60px 0;
    padding: 50px;
    background-color: #D6DCFF;
    box-shadow: 0px 0px 100px 20px rgba(214,220,255,0.8);
    border-radius: 20px;
}

.about-me img {
    text-align: center;
    width: 20%;
    margin-bottom: 1%;
    border-radius: 50%;
}

.about-me p {
    font-size: 1.2rem;
    line-height: 1.5;

}

.skills {
    margin: 60px 0;
    padding: 50px;
    color: #13315C;
    background-color: #D6DCFF;
    box-shadow: 0px 0px 100px 20px rgba(214,220,255,0.8);   
    border-radius: 20px;
    
}

.skills h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.skills ul {
    list-style: disc;
    font-size: 1.2rem;
}

.skills li {
    margin-bottom: 10px;
}

.projects {
    margin: 60px 0;
    padding: 50px;
    color: #13315C;
    background-color: #D6DCFF;
    box-shadow:  0px 0px 100px 20px rgba(214,220,255,0.8);
    border-radius: 20px;
}

.projects h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
    border-radius: 5px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.project p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #13315C;
    text-align: justify;
    
}

.project a {
    font-size: 1.2rem;
    color: #13315C;
    text-decoration: none;
    padding: 120px;
}
.project a:hover {
    text-decoration: underline; 
}

.footer {
    text-align: center;
    padding: 30px;
    color: #13315C;
    background-color: #D6DCFF;
    box-shadow: 0px 0px 100px 20px rgba(214,220,255,0.8);
    border-radius: 20px;
    }

.footer a {
    color: #13315C;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
